In [1]:
if True:
    print 'It was true'

It was true

In [2]:
z = 'False'

if z:
    print 'z was true'
else:
    print 'I will print when z is anything not true'

z was true

In [3]:
z = False

if z:
    print 'z was true'
else:
    print 'i will print when z is anything but true'

i will print when z is anything but true

In [4]:
loc = 'house'

if loc == 'house':
    print 'chill time'
elif loc == 'work':
    print 'money time'
else:
    print 'party time'

chill time

In [5]:
list = [1,2,3,4,5]

In [6]:
list

[1, 2, 3, 4, 5]

In [7]:
for item in list:
    print item

1
2
3
4
5

In [8]:
for number in list:
    print number

1
2
3
4
5

In [9]:
for number in list:
    print 'something'

something
something
something
something
something

In [10]:
for number in list:
    if number % 2 == 0:
        print number

2
4

In [13]:
for number in list:
    if number % 2 == 0:
        print number
    else:
        print 'odd number'

odd number
2
odd number
4
odd number

In [18]:
list

[1, 2, 3, 4, 5]

In [19]:
list_sum = 0

for number in list:
    list_sum = list_sum + number 
    
print list_sum

15

In [20]:
s = "this is a string"

In [22]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g

In [23]:
tuple = (1,2,3,4,5)

In [24]:
tuple

(1, 2, 3, 4, 5)

In [25]:
for t in tuple:
    print t

1
2
3
4
5

In [1]:
list = [1,2,3,4,5]

In [2]:
list_sum = 0

for num in list:
    list_sum += num
    
print list_sum

15

In [3]:
s = 'this is a stringggg'

In [5]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
g
g
g

In [6]:
tup = (1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [7]:
list = [(2,3),(6,8),(10,12)]

In [8]:
list[2][0]

10

In [9]:
for tup in list:
    print tup

(2, 3)
(6, 8)
(10, 12)

In [10]:
for (t1,t2) in list:
    print t1

2
6
10

In [11]:
for (t1,t2) in list:
    print t1-t2

-1
-2
-2

In [12]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [13]:
for item in d:
    print item

k3
k2
k1

In [14]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1